.progress-wrapper {
    padding: 4px;
    background: rgba(0,0,0, .3);
    border-radius: 2px;
}

.progress {
    position: relative;
    height: 16px;
    background: rgba(0,0,0, .8);
    border-radius: 2px;
    color: white;
    font-size: 11px;
    font-weight: 700;
    overflow-x: hidden;
    overflow-y: hidden;
}

.progress-inner {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(11, 243, 11, 0.8);
    transition: all .2s ease-out;
}

.progress-string {
    z-index: 2;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}