header {
    width: 100%;
    position: relative;
    padding-top: 10px;

    .statistics {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
        position: relative;
        background: rgba(0, 174, 239, .6);
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;

        div {
            position: relative;
        }
    
        li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding: 1%;
            align-items: center;
            text-align: left;
        }
    
        li:nth-child(1) {
            cursor: pointer;
        }
    }

    .statisticsImg {
        height: auto;
        width: 20px;
    }
}




@media( max-width: 479px ){

    header {
        .statistics {
            width: 98%;
            font-size: 11px;
            padding: 5px 6px;
        }
    }

}