.pagination {
    background: rgba(0,0,0, .7);
    display: flex;
    flex-wrap: wrap;

    .pill {
        background: rgba(0, 174, 239, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 5%;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .pill:hover {
        background: rgba(0, 174, 239, .6);
    }
    
    .pill:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .active {
        background: rgba(52, 134, 23, 0.8);
    }
}