.scene {
    perspective: 1500px;
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
}

.itemContainer {
    .scene {
        left: 50%;
        transform: translateX(-50%);
    }
}

.scene--medium {
    perspective: 1500px;
    position: relative;
    display: block;
    width: 172px;
    height: 60px;
    margin: 10px auto;;
}

.page-header .scene--medium {
    margin: 0;
}

.wallsContainer {
    position: absolute;
    transform-style: preserve-3d;
    color: black;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

.dynamic {
    animation: tileRotating 3s infinite linear;
}

.static:hover {
    transform: rotateY(30deg);
}

.wall {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1px;
    background: #fff;
}

.wordPower {
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

.scene--medium .wordPower {
    bottom: 4px;
}

.tile-progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 7px;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tile-progress > div {
    height: 100%;
    transition: all .3s ease;
}

.scene--medium .top {
    transform: rotateX(270deg) translateZ(59px);
}

@keyframes tileRotating 
{
    
    from
    {
        
    }
    to
    {
        transform: rotateY(360deg);
    }
    
}

@media( max-width: 1049px ){

    .wordName{
        font-size: 1.1rem;
    }
}

@media( max-width: 769px ){

    .wordName{
        font-size: 1.2rem;
    }
}

@media( max-width: 579px ){

    .wordName{
        font-size: 1.3rem;
    }
}