.levelRow {

    .rowNumber {
        top: 2.5rem;
    }

    position: relative;
    padding: 20px;
    background: rgba(0,0,0, .8);
    color: #fff;
    border-bottom: 1px solid #fff;


    button, img {
        margin-left: 18px;
    }

    .requirements {
        width: 50%;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        p {
            position: relative;
            width: 45%;
            margin-top: 15px;
            border-bottom: 1px solid #fff;
    
            img {
                width: 18px;
                height: auto;
            }
        }
    }
}

.singlePage {
    .levelRow:last-child {
        border-bottom: none;
    }
}    



@media(max-width: 1049px){

    .levelRow {
        .requirements {
            width: 70%;

            p {
                width: 48%;
            }
        }
    }

    #levels img{
        margin-left: 17px;
    }
}

@media( max-width: 767px ){

    .levelRow {

        .requirements {
            width: 80%;
        }

        img {
            margin-left: 14px;
        }
    }

}

@media( max-width: 479px ){

    .levelRow {

        .rowNumber {
            left: 1rem;
        }

        .requirements {
            width: 100%;
            flex-direction: column;

            p {
                width: 80%;
            }
        }

        img {
            margin-left: 8px;
        }
    }

}